# Google App Engine の開発をbuildoutで行う
# — Python Hack-a-thon 4: ハンズオン v1.0 documentation
# http://www.freia.jp/taka/docs/pyhack4/buildout/gae.html
# Pythonで入れ子Zip内のファイルを透過的に開く方法 - zip_openを使う — 清水川Web
# http://www.freia.jp/taka/blog/727

[buildout]
parts = kay
        gae_sdk
        debug
        startproject
        startapp
        statics_dirs
        commit

# Python Package Index : appfy.recipe.gae
# http://pypi.python.org/pypi/appfy.recipe.gae
[gae_sdk]
recipe = appfy.recipe.gae:sdk
url = http://googleappengine.googlecode.com/files/google_appengine_1.3.8.zip
destination = ${buildout:parts-directory}/gae_sdk
clear-destination = true

[gae_tools]
recipe = appfy.recipe.gae:tools
sdk-directory = ${gae_sdk:destination}/google_appengine
extra-paths = apps

[app_lib]
recipe = appfy.recipe.gae:app_lib
delete-safe = true
lib-directory = apps/distlib
use-zipimport = true
eggs =  #itty webtest
ignore-globs = *.c
               *.pyc
               *.pyo
               */test
               */tests
               */testsuite
ignore-packages = distribute
                  easy_install
                  pkg_resources
                  setuptools
                  site

# Python Package Index : hgrecipe
# http://pypi.python.org/pypi/hgrecipe
[kay]
recipe = hgrecipe
repository = https://kay-framework.googlecode.com/hg/
location = ${buildout:parts-directory}/kay
overwrite = true

# Python Package Index : iw.recipe.cmd
# http://pypi.python.org/pypi/iw.recipe.cmd
[startproject]
recipe = iw.recipe.cmd
on_install = true
cmds = cd ${buildout:directory}
       ${buildout:directory}/bin/py parts/kay/manage.py startproject apps
       cd ${buildout:directory}/apps
       rm app.yaml
       wget --no-check-certificate https://github.com/toomore-such/buildout-for-gae/raw/master/app.yaml

[startapp]
recipe = iw.recipe.cmd
on_install = true
cmds = cd ${buildout:directory}/apps
       ${buildout:directory}/bin/py manage.py startapp api
       for i in tests; do mkdir -p api/$i; done
       mv favicon.ico statics/images/

[statics_dirs]
recipe = iw.recipe.cmd:py
on_install = true
cmds =
     >>> path = os.path.join(buildout.get('directory', '.'), 'apps')
     >>> for i in ['statics/html',
                   'statics/images',
                   'statics/javascripts',
                   'statics/stylesheets']:
     ...     os.makedirs(os.path.join(path, i))

[commit]
recipe = iw.recipe.cmd
on_install = true
cmds = cd ${buildout:directory}/apps
       wget --no-check-certificate https://github.com/toomore-such/buildout-for-gae/raw/master/.gitignore
       git init && git add . && git commit -m "Initial commit"

# Python Package Index : zc.recipe.egg
# http://pypi.python.org/pypi/zc.recipe.egg
[debug]
recipe = zc.recipe.egg:script
eggs = ipython
interpreter = py
extra-paths = ${gae_sdk:destination}/google_appengine
              ${gae_sdk:destination}/google_appengine/lib/antlr3
              ${gae_sdk:destination}/google_appengine/lib/django
              ${gae_sdk:destination}/google_appengine/lib/fancy_urllib
              ${gae_sdk:destination}/google_appengine/lib/ipaddr
              ${gae_sdk:destination}/google_appengine/lib/webob
              ${gae_sdk:destination}/google_appengine/lib/yaml/lib
              ${kay:location}
              ${buildout:directory}/apps


# unitTest.py
# mv unitTest.py test/

# # zerokspot.recipe.git
# # http://pypi.python.org/pypi/zerokspot.recipe.git
# [itty]
# recipe = zerokspot.recipe.git
# repository = git://github.com/toastdriven/itty.git
# paths = ${buildout:parts-directory}/itty
# as_egg = true

# # Python Package Index : infrae.subversion
# # http://pypi.python.org/pypi/infrae.subversion
# [gaeunit]
# recipe = infrae.subversion
# urls = http://gaeunit.googlecode.com/svn/trunk/ gaeunit
# location = ${buildout:parts-directory}
